<!-- Comienzo del archivo de la sección -->
<div class="grid w-full gap-4 py-6 md:gap-8 md:py-8 lg:py-12">
  <h2 class="px-6 font-heading text-lead font-heading-weight md:px-8 lg:px-12">
    {{ section.settings.title | escape }}
  </h2>
  <div class="swimlane hidden-scroll md:scroll-px-8 md:px-8 md:pb-8 lg:scroll-px-12 lg:px-12">
    {%- for product in collections[section.settings.collection].products limit: section.settings.products_to_show -%}
      <div class="w-80 animate__animated {% if section.settings.animation_type != 'none' %}{{ section.settings.animation_type }}{% endif %}">
        {%- render 'card-product', card_product: product, wrapper_class: 'w-80' -%}
      </div>
    {%- else -%}
      {%- for i in (1..4) -%}
        <div class="w-80 animate__animated {% if section.settings.animation_type != 'none' %}{{ section.settings.animation_type }}{% endif %}">
          {% render 'card-product', wrapper_class: 'w-80' %}
        </div>
      {%- endfor -%}
    {%- endfor -%}
  </div>
</div>

{% schema %}
{
  "name": "Featured collection",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured collection"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "Collection"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "label": "Maximum products to show",
      "default": 5,
      "min": 5,
      "max": 15,
      "step": 1
    },
    {
      "type": "select",
      "id": "animation_type",
      "label": "Tipo de Animación",
      "options": [
        { "value": "animate__fadeIn", "label": "Fade In" },
        { "value": "animate__bounce", "label": "Bounce" },
        { "value": "animate__zoomIn", "label": "Zoom In" },
        { "value": "animate__slideInUp", "label": "Slide In Up" },
        { "value": "none", "label": "Sin Animación" }
      ],
      "default": "none"
    }
  ],
  "presets": [
    {
      "name": "Featured collection"
    }
  ]
}
{% endschema %}
